
//- include ../pug/mixins/_color

<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
	body
		h1 Hello
		//- ul
		//- 	+pet('cat')
		//- 	+pet('dog')
		//- 	+pet('pig')

		//- +color("hello", 'Text ghbdtn', 'ds100')
		//- +link('/foo', 'foo')(class="next")

		//- +list('my-list', 1, 2, 3, 4)