mixin colors(options)
  -
    var shadeClassName = "shade"
    var nameColor = "name-colors"
    var HexColor = "HEX-color"


  .colors
        div(class = shadeClassName)
        .colors__text
          h2 Dark Shade 100%
          p #1F2041